@import '../style/mixins/ellipsis';

:root,
:host {
  --van-checkbox-size: 16px;
  --van-checkbox-label-font-size: 14px;
  --van-checkbox-label-line-height: 20px;
  --van-checkbox-border-color: var(--van-gray-5);
  --van-checkbox-duration: var(--van-duration-fast);
  --van-checkbox-label-margin: 2px;
  --van-checkbox-label-color: var(--van-text-color);
  --van-checkbox-checked-icon-color: var(--van-primary-color);
  --van-checkbox-disabled-icon-color: var(--van-gray-5);
  --van-checkbox-disabled-label-color: var(--van-text-color-3);
  --van-checkbox-disabled-background: var(--van-border-color);
  --van-checkbox-block-height: 36px;
  --van-checkbox-block-padding: 0 var(--van-padding-sm);
  --van-checkbox-block-radius: var(--van-radius-md);
  --van-checkbox-block-border-color: var(--van-gray-1);
  --van-checkbox-block-background: #f5f5f5;
  --van-checkbox-block-color: var(--van-text-color);
  --van-checkbox-block-checked-background: var(--van-white);
}

.van-checkbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
  }

  &--label-disabled {
    cursor: default;
  }

  &--horizontal {
    margin-right: var(--van-padding-sm);
  }

  &--block {
    align-items: stretch;
    overflow: hidden;
    width: 100%;
    min-width: 0;

    &.van-checkbox--horizontal {
      min-width: 0;
      margin-right: 0;
    }

    .van-checkbox__label {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: var(--van-checkbox-block-height);
      margin: 0;
      padding: var(--van-checkbox-block-padding);
      color: var(--van-checkbox-block-color);
      text-align: center;
      background: var(--van-checkbox-block-background);
      border-radius: var(--van-checkbox-block-radius);
      box-shadow: inset 0 0 0 1px var(--van-checkbox-block-border-color);
      transition-duration: var(--van-checkbox-duration);
      transition-property: color, box-shadow, background-color;
    }

    .van-checkbox__label-text {
      max-width: 100%;
      line-height: calc(var(--van-checkbox-block-height) / 2);
      .multi-ellipsis(2);
    }

    &.van-checkbox--checked,
    &.van-checkbox--indeterminate {
      .van-checkbox__label {
        color: var(--van-checkbox-checked-icon-color);
        background: var(--van-checkbox-block-checked-background);
        box-shadow: inset 0 0 0 1px var(--van-checkbox-checked-icon-color);
      }
    }

    &.van-checkbox--disabled {
      .van-checkbox__label {
        color: var(--van-checkbox-disabled-label-color);
        background: var(--van-gray-1);
        box-shadow: inset 0 0 0 1px var(--van-checkbox-disabled-icon-color);
      }
    }
  }

  &__icon {
    flex: none;
    height: 1em;
    font-size: var(--van-checkbox-size);
    line-height: 1em;
    cursor: pointer;

    .van-icon {
      display: block;
      box-sizing: border-box;
      width: 1.25em;
      height: 1.25em;
      color: transparent;
      font-size: 0.8em;
      line-height: 1.25;
      text-align: center;
      border: 1px solid var(--van-checkbox-border-color);
      transition-duration: var(--van-checkbox-duration);
      transition-property: color, border-color, background-color;
    }

    &--round {
      .van-icon {
        border-radius: 100%;
      }
    }

    &--indeterminate {
      .van-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--van-white);
        border-color: var(--van-checkbox-checked-icon-color);
        background-color: var(--van-checkbox-checked-icon-color);
      }
    }

    &--checked {
      .van-icon {
        color: var(--van-white);
        background-color: var(--van-checkbox-checked-icon-color);
        border-color: var(--van-checkbox-checked-icon-color);
      }
    }

    &--disabled {
      cursor: not-allowed;

      .van-icon {
        background-color: var(--van-checkbox-disabled-background);
        border-color: var(--van-checkbox-disabled-icon-color);
      }
    }

    &--disabled&--checked {
      .van-icon {
        color: var(--van-checkbox-disabled-icon-color);
      }
    }
  }

  &__label {
    margin-left: var(--van-checkbox-label-margin);
    color: var(--van-checkbox-label-color);
    font-size: var(--van-checkbox-label-font-size);
    line-height: var(--van-checkbox-label-line-height);

    &--left {
      margin: 0 var(--van-checkbox-label-margin) 0 0;
    }

    &--disabled {
      color: var(--van-checkbox-disabled-label-color);
    }
  }
}
