:root,
:host {
  --van-sidebar-font-size: var(--van-font-size-md);
  --van-sidebar-line-height: var(--van-line-height-md);
  --van-sidebar-text-color: #333;
  --van-sidebar-disabled-text-color: #ddd;
  --van-sidebar-padding: 0 var(--van-padding-xs);
  --van-sidebar-active-color: var(--van-active-color);
  --van-sidebar-background: var(--van-background);
  --van-sidebar-selected-font-weight: normal;
  --van-sidebar-selected-text-color: var(--van-primary-orange);
  --van-sidebar-selected-border-width: 2px;
  --van-sidebar-selected-border-height: 16px;
  --van-sidebar-selected-border-color: var(--van-primary-color);
  --van-sidebar-selected-background: var(--van-background-2);
}

.van-sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 0;
  max-width: 100%;
  height: 48px;
  padding: var(--van-sidebar-padding);
  overflow: hidden;
  color: var(--van-sidebar-text-color);
  font-size: var(--van-sidebar-font-size);
  line-height: var(--van-sidebar-line-height);
  background: var(--van-sidebar-background);
  cursor: pointer;
  user-select: none;

  &:active {
    background-color: var(--van-sidebar-active-color);
  }

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &__label {
    // https://github.com/vant-ui/vant/issues/7455
    display: inline-flex;
    flex: 0 1 auto;
    align-items: flex-start;
    min-width: 0;
    max-width: 100%;
    word-break: normal;
  }

  &__title {
    display: block;
    min-width: 0;
    max-width: 8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .van-badge {
    flex: none;
  }

  .van-badge--fixed {
    position: static;
    transform: none;
  }

  .van-badge:not(.van-badge--dot) {
    box-sizing: border-box;
    min-width: 14px;
    height: 14px;
    margin-left: 4px;
    padding: 0 4px;
    border: none;
    font-weight: normal;
    font-size: var(--van-font-size-xs);
    line-height: 14px;
  }

  .van-badge--dot {
    width: 6px;
    min-width: 0;
    height: 6px;
    margin-top: 1px;
    margin-left: 2px;
  }

  &--select {
    color: var(--van-sidebar-selected-text-color);
    font-weight: var(--van-sidebar-selected-font-weight);

    &,
    &:active {
      background-color: var(--van-sidebar-selected-background);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: var(--van-sidebar-selected-border-width);
      height: var(--van-sidebar-selected-border-height);
      background-color: var(--van-sidebar-selected-border-color);
      transform: translateY(-50%);
      content: '';
    }
  }

  &--disabled {
    color: var(--van-sidebar-disabled-text-color);
    cursor: not-allowed;

    &:active {
      background-color: var(--van-sidebar-background);
    }
  }
}
