:root,
:host {
  --van-sidebar-width: fit-content;
  --van-sidebar-max-width: 148px;
}

.van-sidebar {
  display: grid;
  width: var(--van-sidebar-width);
  max-width: var(--van-sidebar-max-width);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
