:root,
:host {
  --van-nav-bar-height: 44px;
  --van-nav-bar-background: var(--van-background-2);
  --van-nav-bar-arrow-size: 28px;
  --van-nav-bar-icon-color: var(--van-primary-color);
  --van-nav-bar-text-color: var(--van-primary-color);
  --van-nav-bar-title-font-size: var(--van-font-size-lg);
  --van-nav-bar-title-min-font-size: 14px;
  --van-nav-bar-title-gap: 6px;
  --van-nav-bar-title-text-color: var(--van-text-color);
  --van-nav-bar-z-index: 1;
  --van-nav-bar-disabled-opacity: var(--van-disabled-opacity);
  --van-nav-bar-horizontal-padding: 8px;
  --van-nav-bar-button-gap: 12px;
  --van-nav-bar-button-width: 28px;
  --van-nav-bar-button-height: 28px;
  --van-nav-bar-button-icon-size: 28px;
  --van-nav-bar-menu-z-index: 2000;
  --van-nav-bar-menu-width: 112px;
  --van-nav-bar-menu-edge-gap: 8px;
  --van-nav-bar-menu-arrow-gap: 2px;
  --van-nav-bar-menu-arrow-width: 10px;
  --van-nav-bar-menu-arrow-height: 4px;
  --van-nav-bar-menu-arrow-color: #f00;
  --van-nav-bar-menu-item-height: 48px;
  --van-nav-bar-menu-background: var(--van-background-2);
  --van-nav-bar-search-height: 32px;
  --van-nav-bar-search-background: var(--van-background);
  --van-nav-bar-search-radius: var(--van-radius-md);
}

.van-nav-bar {
  position: relative;
  z-index: var(--van-nav-bar-z-index);
  line-height: var(--van-line-height-lg);
  text-align: center;
  background: var(--van-nav-bar-background);
  user-select: none;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--menu-open {
    z-index: var(--van-nav-bar-menu-z-index);
  }

  &--custom-background {
    .van-nav-bar__left,
    .van-nav-bar__right,
    .van-nav-bar__text,
    .van-nav-bar__action,
    .van-nav-bar__action-text,
    .van-nav-bar__arrow,
    .van-nav-bar__action-icon {
      color: var(--van-white);
    }
  }

  &--safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  .van-icon {
    color: var(--van-nav-bar-icon-color);
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--van-nav-bar-height);
  }

  &__arrow {
    margin-right: var(--van-padding-base);
    font-size: var(--van-nav-bar-arrow-size);
  }

  &__title {
    max-width: 199px;
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--van-nav-bar-title-text-color);
    font-weight: var(--van-font-bold);
    font-size: var(--van-nav-bar-title-font-size);
    transition: font-size var(--van-duration-fast);

    &--search {
      position: absolute;
      right: var(--van-nav-bar-horizontal-padding);
      left: var(--van-nav-bar-horizontal-padding);
      width: auto;
      max-width: none;
      padding: 0;
      box-sizing: border-box;
      font-weight: var(--van-font-normal);
      transition: none;
      pointer-events: none;
    }
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 var(--van-nav-bar-horizontal-padding);
    font-size: var(--van-font-size-md);

    &--disabled {
      cursor: not-allowed;
      opacity: var(--van-nav-bar-disabled-opacity);
    }
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__text {
    color: var(--van-nav-bar-text-color);

    &--right {
      display: inline-block;
      max-width: 4em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--van-nav-bar-button-gap);
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--van-nav-bar-button-width);
    height: var(--van-nav-bar-button-height);
    color: var(--van-nav-bar-text-color);
    column-gap: var(--van-padding-base);

    &--disabled {
      cursor: not-allowed;
      opacity: var(--van-nav-bar-disabled-opacity);
    }
  }

  &__action-icon {
    font-size: var(--van-nav-bar-button-icon-size);
  }

  &__action-text {
    color: var(--van-nav-bar-text-color);

    &--right {
      display: inline-block;
      max-width: 4em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__menu-wrapper {
    position: absolute;
    top: calc(100% + var(--van-nav-bar-menu-arrow-gap));
    right: calc(
      var(--van-nav-bar-menu-edge-gap) - var(--van-nav-bar-horizontal-padding)
    );
    z-index: var(--van-nav-bar-menu-z-index);
    box-sizing: border-box;
    width: var(--van-nav-bar-menu-width);
    max-width: calc(
      100vw - var(--van-nav-bar-menu-edge-gap) -
        var(--van-nav-bar-menu-edge-gap)
    );
  }

  &__menu-arrow {
    position: absolute;
    top: 0;
    right: calc(
      var(--van-nav-bar-button-width) / 2 - var(--van-nav-bar-menu-edge-gap) +
        var(--van-nav-bar-horizontal-padding)
    );
    z-index: 1;
    width: 0;
    height: 0;
    border-right: calc(var(--van-nav-bar-menu-arrow-width) / 2) solid
      transparent;
    border-bottom: var(--van-nav-bar-menu-arrow-height) solid
      var(--van-nav-bar-menu-arrow-color);
    border-left: calc(var(--van-nav-bar-menu-arrow-width) / 2) solid transparent;
    transform: translateX(50%);
    pointer-events: none;
  }

  &__menu {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: var(--van-nav-bar-menu-arrow-height);
    overflow: hidden;
    color: var(--van-text-color);
    text-align: left;
    background: var(--van-nav-bar-menu-background);
    border-radius: var(--van-nav-bar-search-radius);
    box-shadow: 0 2px 12px rgba(50, 50, 51, 12%);
  }

  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--van-nav-bar-menu-item-height);
    padding: 0 var(--van-padding-md);
    font-size: var(--van-font-size-md);
    line-height: var(--van-line-height-md);
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
      opacity: var(--van-nav-bar-disabled-opacity);
    }
  }

  &__menu-icon {
    flex: none;
    margin-right: var(--van-padding-xs);
    font-size: var(--van-font-size-lg);
  }

  &__menu-text {
    flex: 1;
    min-width: 0;
  }

  &__search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: var(--van-nav-bar-search-height);
    pointer-events: auto;

    --van-search-padding: 0;
    --van-search-background: transparent;
    --van-search-content-background: var(--van-nav-bar-search-background);
    --van-search-input-height: var(--van-nav-bar-search-height);

    .van-search {
      width: 100%;
      height: 100%;
      padding: 0;
      background: transparent;
    }

    .van-search__content {
      display: flex;
      flex: 1;
      border-radius: var(--van-nav-bar-search-radius);
    }
  }
}
