:root,
:host {
  --van-pro-form-footer-padding: 0;
}

.van-pro-form {
  &__footer {
    margin: 16px 16px 0;
    padding: var(--van-pro-form-footer-padding);
  }
}

.van-pro-form-field-children {
  &__add:disabled {
    opacity: var(--van-disabled-opacity);
    cursor: not-allowed;
  }
}
