:root,
:host {
  --van-skeleton-paragraph-height: 16px;
  --van-skeleton-paragraph-background: var(
    --van-skeleton-background-from,
    #fafafa
  );
  --van-skeleton-paragraph-margin-top: var(--van-padding-md);
}

.van-skeleton {
  &-paragraph {
    box-sizing: border-box;
    max-width: 100%;
    height: var(--van-skeleton-paragraph-height);
    background: var(--van-skeleton-paragraph-background);

    &--round {
      border-radius: var(--van-radius-max);
    }

    &:not(:first-child) {
      margin-top: var(--van-skeleton-paragraph-margin-top);
    }
  }
}
