:root,
:host {
  --van-area-step-cascader-level-font-size: var(--van-font-size-md);
  --van-area-step-cascader-level-font-weight: var(--van-font-bold);
  --van-area-step-cascader-level-padding: 16px 0 10px 12px;
}

.van-area-step-cascader {
  &__level {
    font-size: var(--van-area-step-cascader-level-font-size);
    font-weight: var(--van-area-step-cascader-level-font-weight);
    padding: var(--van-area-step-cascader-level-padding);
  }
}
