.van-checkbox-group {
  &--list {
    width: 100%;
    min-width: 0;

    .van-cell {
      --van-cell-horizontal-padding: 0;

      .van-checkbox {
        margin: 0;
      }
    }
  }

  &--horizontal&--block {
    width: 100%;
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(
      var(--van-checkbox-group-columns),
      minmax(0, 1fr)
    );
    gap: var(--van-padding-xs);
    --van-checkbox-group-columns: 3;

    > .van-checkbox.van-checkbox--horizontal {
      width: 100%;
      min-width: 0;
      margin-right: 0;
    }
  }
}
