:root,
:host {
  --van-tab-text-color: var(--van-gray-7);
  --van-tab-active-text-color: var(--van-text-color);
  --van-tab-disabled-text-color: var(--van-text-color-3);
  --van-tab-font-size: var(--van-font-size-md);
  --van-tab-line-height: var(--van-line-height-md);
  --van-tabs-default-color: var(--van-primary-color);
  --van-tabs-line-height: 44px;
  --van-tabs-card-height: 30px;
  --van-tabs-rounded-inactive-background: #f5f5f5;
  --van-tabs-rounded-padding-vertical: 6px;
  --van-tabs-rounded-padding-horizontal: 12px;
  --van-tabs-rounded-gap: 12px;
  --van-tabs-rounded-nav-background: var(--van-white);
  --van-tabs-rounded-nav-padding-vertical: 10px;
  --van-tabs-rounded-nav-padding-horizontal: 12px;
  --van-tabs-rounded-nav-radius: var(--van-radius-lg);
  --van-tabs-nav-background: var(--van-background-2);
  --van-tabs-bottom-bar-width: 40px;
  --van-tabs-bottom-bar-height: 3px;
  --van-tabs-bottom-bar-color: var(--van-primary-color);
  --van-tabs-underline-height: 48px;
  --van-tabs-underline-bar-width: 20px;
  --van-tabs-underline-bar-height: 2px;
  --van-tabs-underline-inactive-text-color: #333333;
  --van-tabs-divider-nav-padding-vertical: 16px;
  --van-tabs-divider-tab-padding-horizontal: 12px;
  --van-tabs-divider-nav-background: var(--van-white);
  --van-tabs-divider-inactive-text-color: #666666;
  --van-tabs-divider-line-width: 0.5px;
  --van-tabs-divider-line-height: 12px;
  --van-tabs-divider-line-color: #dddddd;
  --van-tabs-nav-menu-icon-color: #333333;
  --van-tabs-nav-menu-icon-active-color: var(--van-primary-color);
  --van-tabs-nav-menu-background: var(--van-white);
  --van-tabs-nav-menu-padding: 0 12px;
  --van-tabs-nav-menu-panel-padding-horizontal: 12px;
  --van-tabs-scroll-shadow-width: 12px;
  --van-tabs-scroll-shadow-color: rgba(0, 0, 0, 0.08);
}

.van-tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 var(--van-padding-base);
  color: var(--van-tab-text-color);
  font-size: var(--van-tab-font-size);
  line-height: var(--van-tab-line-height);
  cursor: pointer;

  &--active {
    color: var(--van-tab-active-text-color);
    font-weight: var(--van-font-bold);
  }

  &--disabled {
    color: var(--van-tab-disabled-text-color);
    cursor: not-allowed;
  }

  &--grow {
    flex: 1 0 auto;
    padding: 0 var(--van-padding-sm);
  }

  &--shrink {
    flex: none;
    padding: 0 var(--van-padding-xs);
  }

  &--card {
    color: var(--van-tabs-default-color);
    border-right: var(--van-border-width) solid var(--van-tabs-default-color);

    &:last-child {
      border-right: none;
    }

    &.van-tab--active {
      color: var(--van-white);
      background-color: var(--van-tabs-default-color);
    }

    &.van-tab--disabled {
      color: var(--van-tab-disabled-text-color);
    }
  }

  &--rounded {
    flex: none;
    padding: var(--van-tabs-rounded-padding-vertical)
      var(--van-tabs-rounded-padding-horizontal);
    border-radius: var(--van-radius-max);
    background-color: var(--van-tabs-rounded-inactive-background);
    color: var(--van-tab-text-color);
    line-height: var(--van-line-height-sm);

    &.van-tab--shrink,
    &.van-tab--grow {
      flex: none;
      padding: var(--van-tabs-rounded-padding-vertical)
        var(--van-tabs-rounded-padding-horizontal);
    }

    &.van-tab--active {
      color: var(--van-white);
      background-color: var(--van-tabs-default-color);
      font-weight: var(--van-font-bold);
    }

    &.van-tab--disabled {
      color: var(--van-tab-disabled-text-color);
    }
  }

  &--underline {
    color: var(--van-tabs-underline-inactive-text-color);

    &.van-tab--active {
      color: var(--van-tabs-default-color);
      font-weight: var(--van-font-bold);

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: var(--van-tabs-underline-bar-width);
        height: var(--van-tabs-underline-bar-height);
        background: currentColor;
        border-radius: var(--van-tabs-underline-bar-height);
        transform: translateX(-50%);
        content: '';
      }
    }

    &.van-tab--disabled {
      color: var(--van-tab-disabled-text-color);
    }
  }

  &--divider {
    flex: none;
    padding: 0 var(--van-tabs-divider-tab-padding-horizontal);
    color: var(--van-tabs-divider-inactive-text-color);

    &.van-tab--shrink,
    &.van-tab--grow {
      flex: none;
      padding: 0 var(--van-tabs-divider-tab-padding-horizontal);
    }

    &.van-tab--active {
      color: var(--van-tabs-default-color);
      font-weight: normal;
    }

    &.van-tab--disabled {
      color: var(--van-tab-disabled-text-color);
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: var(--van-tabs-divider-line-width);
      height: var(--van-tabs-divider-line-height);
      background: var(--van-tabs-divider-line-color);
      transform: translateY(-50%);
      content: '';
    }
  }

  &__text {
    &--ellipsis {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.van-tabs {
  position: relative;

  &__wrap {
    overflow: hidden;

    &--show-menu {
      position: relative;
      display: flex;
      align-items: stretch;

      .van-tabs__nav {
        flex: 1;
        min-width: 0;
        padding-right: 48px;
      }
    }

    &--show-shadow {
      position: relative;
    }

    &--page-top {
      position: fixed;
    }

    &--content-bottom {
      top: auto;
      bottom: 0;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background: var(--van-tabs-nav-background);
    user-select: none;

    &--complete {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--line {
      box-sizing: content-box;
      height: 100%;
      padding-bottom: 15px; /* 15px padding to hide scrollbar in mobile safari */
    }

    &--line&--shrink,
    &--line&--complete {
      padding-right: var(--van-padding-xs);
      padding-left: var(--van-padding-xs);
    }

    &--card {
      box-sizing: border-box;
      height: var(--van-tabs-card-height);
      margin: 0 var(--van-padding-md);
      border: var(--van-border-width) solid var(--van-tabs-default-color);
      border-radius: var(--van-radius-sm);
    }

    &--card&--shrink {
      display: inline-flex;
    }

    &--rounded {
      box-sizing: border-box;
      width: 100%;
      gap: var(--van-tabs-rounded-gap);
      align-items: center;
      justify-content: flex-start;
      height: auto;
      margin: 0;
      padding: var(--van-tabs-rounded-nav-padding-vertical)
        var(--van-tabs-rounded-nav-padding-horizontal);
      border-radius: 0;
      background: var(--van-tabs-rounded-nav-background);
    }

    &--rounded&--fill {
      .van-tab--rounded {
        flex: 1;
      }
    }

    &--rounded:not(&--fill) {
      > .van-tab--rounded {
        flex: none;
        width: auto;
      }
    }

    &--rounded&--complete {
      .van-tab--rounded {
        flex: none;
      }
    }

    &--rounded&--shrink {
      display: inline-flex;
      width: auto;

      .van-tab--rounded {
        flex: none;
      }
    }

    &--underline {
      box-sizing: content-box;
      height: 100%;
    }

    &--underline&--shrink,
    &--underline&--complete {
      padding-right: var(--van-padding-xs);
      padding-left: var(--van-padding-xs);
    }

    &--divider {
      box-sizing: border-box;
      width: 100%;
      justify-content: flex-start;
      height: auto;
      padding: var(--van-tabs-divider-nav-padding-vertical) 0;
      background: var(--van-tabs-divider-nav-background);

      > .van-tab--divider {
        flex: none;
        width: auto;
      }
    }

    &--divider&--shrink,
    &--divider&--complete {
      padding: var(--van-tabs-divider-nav-padding-vertical) 0;
    }
  }

  &__line {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    width: var(--van-tabs-bottom-bar-width);
    height: var(--van-tabs-bottom-bar-height);
    background: var(--van-tabs-bottom-bar-color);
    border-radius: var(--van-tabs-bottom-bar-height);
  }

  &__track {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    will-change: left;
  }

  &__content {
    &--animated {
      overflow: hidden;
    }
  }

  &__nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;

    &.van-dropdown-menu {
      width: 100%;
      height: 100%;
    }

    .van-dropdown-menu__bar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
      box-shadow: none;
      background: transparent;
      padding: 0;
      pointer-events: none;
    }

    .van-dropdown-menu__item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      flex: none;
      width: 48px;
      padding: 0;
      pointer-events: auto;
      background: var(--van-tabs-nav-menu-background);
      -webkit-tap-highlight-color: transparent;

      &:active {
        opacity: 1;
        background: var(--van-tabs-nav-menu-background);
      }
    }

    .van-dropdown-menu__title {
      padding: 0;
      background: var(--van-tabs-nav-menu-background);

      &::after {
        display: none;
      }

      .van-icon {
        font-size: 20px;
        color: var(--van-tabs-nav-menu-icon-color);
      }

      &--active {
        background: var(--van-tabs-nav-menu-background);

        .van-icon {
          color: var(--van-tabs-nav-menu-icon-active-color);
        }
      }
    }

    .van-dropdown-item {
      pointer-events: auto;
    }

    .van-dropdown-item__content {
      overflow: hidden;
      --van-cell-active-color: var(--van-active-color, #f2f3f5);

      .van-radio-group--list {
        width: 100%;
      }

      .van-cell--clickable:active {
        background-color: var(--van-cell-active-color);
      }
    }
  }

  &__scroll-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--van-tabs-scroll-shadow-width);
    pointer-events: none;
    z-index: 2;
    background: var(--van-tabs-nav-background);

    &--right {
      right: 0;
      box-shadow: -4px 0 8px var(--van-tabs-scroll-shadow-color);
    }

    &--left {
      left: 0;
      box-shadow: 4px 0 8px var(--van-tabs-scroll-shadow-color);
    }
  }

  &--line {
    .van-tabs__wrap {
      height: var(--van-tabs-line-height);
    }
  }

  &--card {
    > .van-tabs__wrap {
      height: var(--van-tabs-card-height);
    }
  }

  &--rounded {
    > .van-tabs__wrap {
      height: auto;
      background: var(--van-tabs-rounded-nav-background);
    }

    .van-tabs__scroll-shadow {
      background: var(--van-tabs-rounded-nav-background);
    }
  }

  &--underline {
    .van-tabs__wrap {
      height: var(--van-tabs-underline-height);
    }
  }

  &--divider {
    .van-tabs__wrap {
      height: auto;
      background: var(--van-tabs-divider-nav-background);
    }

    .van-tabs__scroll-shadow {
      background: var(--van-tabs-divider-nav-background);
    }
  }
}

@import '../cascade-tabs/index.less';
