:root,
:host {
  --van-tab-text-color: var(--van-gray-7);
  --van-tab-active-text-color: var(--van-text-color);
  --van-tab-disabled-text-color: var(--van-text-color-3);
  --van-tab-font-size: var(--van-font-size-md);
  --van-tab-line-height: var(--van-line-height-md);
  --van-tabs-default-color: var(--van-primary-color);
  --van-tabs-line-height: 44px;
  --van-tabs-card-height: 30px;
  --van-tabs-rounded-inactive-background: #f5f5f5;
  --van-tabs-rounded-padding-vertical: 6px;
  --van-tabs-rounded-padding-horizontal: 12px;
  --van-tabs-rounded-gap: 12px;
  --van-tabs-rounded-nav-background: var(--van-white);
  --van-tabs-rounded-nav-padding-vertical: 10px;
  --van-tabs-rounded-nav-padding-horizontal: 12px;
  --van-tabs-rounded-nav-radius: var(--van-radius-lg);
  --van-tabs-nav-background: var(--van-background-2);
  --van-tabs-bottom-bar-width: 40px;
  --van-tabs-bottom-bar-height: 3px;
  --van-tabs-bottom-bar-color: var(--van-primary-color);
  --van-tabs-underline-height: 48px;
  --van-tabs-underline-bar-width: 20px;
  --van-tabs-underline-bar-height: 2px;
  --van-tabs-underline-inactive-text-color: #333333;
  --van-tabs-divider-nav-padding-vertical: 16px;
  --van-tabs-divider-tab-padding-horizontal: 12px;
  --van-tabs-divider-nav-background: var(--van-white);
  --van-tabs-divider-inactive-text-color: #666666;
  --van-tabs-divider-line-width: 0.5px;
  --van-tabs-divider-line-height: 12px;
  --van-tabs-divider-line-color: #dddddd;
  --van-tabs-nav-menu-icon-color: #333333;
  --van-tabs-nav-menu-icon-active-color: var(--van-primary-color);
  --van-tabs-nav-menu-background: var(--van-white);
  --van-tabs-nav-menu-padding: 0 12px;
  --van-tabs-nav-menu-panel-padding-horizontal: 12px;
  --van-tabs-scroll-shadow-width: 12px;
  --van-tabs-scroll-shadow-color: rgba(0, 0, 0, 0.08);
}
.van-tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 var(--van-padding-base);
  color: var(--van-tab-text-color);
  font-size: var(--van-tab-font-size);
  line-height: var(--van-tab-line-height);
  cursor: pointer;
}
.van-tab--active {
  color: var(--van-tab-active-text-color);
  font-weight: var(--van-font-bold);
}
.van-tab--disabled {
  color: var(--van-tab-disabled-text-color);
  cursor: not-allowed;
}
.van-tab--grow {
  flex: 1 0 auto;
  padding: 0 var(--van-padding-sm);
}
.van-tab--shrink {
  flex: none;
  padding: 0 var(--van-padding-xs);
}
.van-tab--card {
  color: var(--van-tabs-default-color);
  border-right: var(--van-border-width) solid var(--van-tabs-default-color);
}
.van-tab--card:last-child {
  border-right: none;
}
.van-tab--card.van-tab--active {
  color: var(--van-white);
  background-color: var(--van-tabs-default-color);
}
.van-tab--card.van-tab--disabled {
  color: var(--van-tab-disabled-text-color);
}
.van-tab--rounded {
  flex: none;
  padding: var(--van-tabs-rounded-padding-vertical)
    var(--van-tabs-rounded-padding-horizontal);
  border-radius: var(--van-radius-max);
  background-color: var(--van-tabs-rounded-inactive-background);
  color: var(--van-tab-text-color);
  line-height: var(--van-line-height-sm);
}
.van-tab--rounded.van-tab--shrink,
.van-tab--rounded.van-tab--grow {
  padding: var(--van-tabs-rounded-padding-vertical)
    var(--van-tabs-rounded-padding-horizontal);
}
.van-tab--rounded.van-tab--active {
  color: var(--van-white);
  background-color: var(--van-tabs-default-color);
  font-weight: var(--van-font-bold);
}
.van-tab--rounded.van-tab--disabled {
  color: var(--van-tab-disabled-text-color);
}
.van-tab--underline {
  color: var(--van-tabs-underline-inactive-text-color);
}
.van-tab--underline.van-tab--active {
  color: var(--van-tabs-default-color);
  font-weight: var(--van-font-bold);
}
.van-tab--underline.van-tab--active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: var(--van-tabs-underline-bar-width);
  height: var(--van-tabs-underline-bar-height);
  background: currentColor;
  border-radius: var(--van-tabs-underline-bar-height);
  transform: translateX(-50%);
  content: '';
}
.van-tab--underline.van-tab--disabled {
  color: var(--van-tab-disabled-text-color);
}
.van-tab--divider {
  flex: none;
  padding: 0 var(--van-tabs-divider-tab-padding-horizontal);
  color: var(--van-tabs-divider-inactive-text-color);
}
.van-tab--divider.van-tab--shrink,
.van-tab--divider.van-tab--grow {
  padding: 0 var(--van-tabs-divider-tab-padding-horizontal);
}
.van-tab--divider.van-tab--active {
  color: var(--van-tabs-default-color);
  font-weight: normal;
}
.van-tab--divider.van-tab--disabled {
  color: var(--van-tab-disabled-text-color);
}
.van-tab--divider:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: var(--van-tabs-divider-line-width);
  height: var(--van-tabs-divider-line-height);
  background: var(--van-tabs-divider-line-color);
  transform: translateY(-50%);
  content: '';
}
.van-tab__text--ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.van-tabs {
  position: relative;
}
.van-tabs__wrap {
  overflow: hidden;
}
.van-tabs__wrap--show-menu {
  position: relative;
  display: flex;
  align-items: stretch;
}
.van-tabs__wrap--show-menu .van-tabs__nav {
  flex: 1;
  min-width: 0;
  padding-right: 48px;
}
.van-tabs__wrap--show-shadow {
  position: relative;
}
.van-tabs__wrap--page-top {
  position: fixed;
}
.van-tabs__wrap--content-bottom {
  top: auto;
  bottom: 0;
}
.van-tabs__nav {
  position: relative;
  display: flex;
  background: var(--van-tabs-nav-background);
  user-select: none;
}
.van-tabs__nav--complete {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.van-tabs__nav--complete::-webkit-scrollbar {
  display: none;
}
.van-tabs__nav--line {
  box-sizing: content-box;
  height: 100%;
  padding-bottom: 15px;
  /* 15px padding to hide scrollbar in mobile safari */
}
.van-tabs__nav--line.van-tabs__nav--shrink,
.van-tabs__nav--line.van-tabs__nav--complete {
  padding-right: var(--van-padding-xs);
  padding-left: var(--van-padding-xs);
}
.van-tabs__nav--card {
  box-sizing: border-box;
  height: var(--van-tabs-card-height);
  margin: 0 var(--van-padding-md);
  border: var(--van-border-width) solid var(--van-tabs-default-color);
  border-radius: var(--van-radius-sm);
}
.van-tabs__nav--card.van-tabs__nav--shrink {
  display: inline-flex;
}
.van-tabs__nav--rounded {
  box-sizing: border-box;
  width: 100%;
  gap: var(--van-tabs-rounded-gap);
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin: 0;
  padding: var(--van-tabs-rounded-nav-padding-vertical)
    var(--van-tabs-rounded-nav-padding-horizontal);
  border-radius: 0;
  background: var(--van-tabs-rounded-nav-background);
}
.van-tabs__nav--rounded.van-tabs__nav--fill .van-tab--rounded {
  flex: 1;
}
.van-tabs__nav--rounded.van-tabs__nav--complete .van-tab--rounded {
  flex: none;
}
.van-tabs__nav--rounded.van-tabs__nav--shrink {
  display: inline-flex;
  width: auto;
}
.van-tabs__nav--rounded.van-tabs__nav--shrink .van-tab--rounded {
  flex: none;
}
.van-tabs__nav--underline {
  box-sizing: content-box;
  height: 100%;
}
.van-tabs__nav--underline.van-tabs__nav--shrink,
.van-tabs__nav--underline.van-tabs__nav--complete {
  padding-right: var(--van-padding-xs);
  padding-left: var(--van-padding-xs);
}
.van-tabs__nav--divider {
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-start;
  height: auto;
  padding: var(--van-tabs-divider-nav-padding-vertical) 0;
  background: var(--van-tabs-divider-nav-background);
}
.van-tabs__nav--divider.van-tabs__nav--shrink,
.van-tabs__nav--divider.van-tabs__nav--complete {
  padding: var(--van-tabs-divider-nav-padding-vertical) 0;
}
.van-tabs__line {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 1;
  width: var(--van-tabs-bottom-bar-width);
  height: var(--van-tabs-bottom-bar-height);
  background: var(--van-tabs-bottom-bar-color);
  border-radius: var(--van-tabs-bottom-bar-height);
}
.van-tabs__track {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  will-change: left;
}
.van-tabs__content--animated {
  overflow: hidden;
}
.van-tabs__nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.van-tabs__nav-menu.van-dropdown-menu {
  width: 100%;
  height: 100%;
}
.van-tabs__nav-menu .van-dropdown-menu__bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  box-shadow: none;
  background: transparent;
  padding: 0;
  pointer-events: none;
}
.van-tabs__nav-menu .van-dropdown-menu__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  flex: none;
  width: 48px;
  padding: 0;
  pointer-events: auto;
  background: var(--van-tabs-nav-menu-background);
  -webkit-tap-highlight-color: transparent;
}
.van-tabs__nav-menu .van-dropdown-menu__item:active {
  opacity: 1;
  background: var(--van-tabs-nav-menu-background);
}
.van-tabs__nav-menu .van-dropdown-menu__title {
  padding: 0;
  background: var(--van-tabs-nav-menu-background);
}
.van-tabs__nav-menu .van-dropdown-menu__title::after {
  display: none;
}
.van-tabs__nav-menu .van-dropdown-menu__title .van-icon {
  font-size: 20px;
  color: var(--van-tabs-nav-menu-icon-color);
}
.van-tabs__nav-menu .van-dropdown-menu__title--active {
  background: var(--van-tabs-nav-menu-background);
}
.van-tabs__nav-menu .van-dropdown-menu__title--active .van-icon {
  color: var(--van-tabs-nav-menu-icon-active-color);
}
.van-tabs__nav-menu .van-dropdown-item {
  pointer-events: auto;
}
.van-tabs__nav-menu .van-dropdown-item__content {
  padding: 0 var(--van-tabs-nav-menu-panel-padding-horizontal);
  overflow: hidden;
  --van-cell-active-color: var(--van-active-color, #f2f3f5);
}
.van-tabs__nav-menu .van-dropdown-item__content .van-radio-group--list {
  width: 100%;
}
.van-tabs__nav-menu .van-dropdown-item__content .van-cell--clickable:active {
  background-color: var(--van-cell-active-color);
}
.van-tabs__scroll-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--van-tabs-scroll-shadow-width);
  pointer-events: none;
  z-index: 2;
  background: var(--van-tabs-nav-background);
}
.van-tabs__scroll-shadow--right {
  right: 0;
  box-shadow: -4px 0 8px var(--van-tabs-scroll-shadow-color);
}
.van-tabs__scroll-shadow--left {
  left: 0;
  box-shadow: 4px 0 8px var(--van-tabs-scroll-shadow-color);
}
.van-tabs--line .van-tabs__wrap {
  height: var(--van-tabs-line-height);
}
.van-tabs--card > .van-tabs__wrap {
  height: var(--van-tabs-card-height);
}
.van-tabs--rounded > .van-tabs__wrap {
  height: auto;
  background: var(--van-tabs-rounded-nav-background);
}
.van-tabs--rounded .van-tabs__scroll-shadow {
  background: var(--van-tabs-rounded-nav-background);
}
.van-tabs--underline .van-tabs__wrap {
  height: var(--van-tabs-underline-height);
}
.van-tabs--divider .van-tabs__wrap {
  height: auto;
  background: var(--van-tabs-divider-nav-background);
}
.van-tabs--divider .van-tabs__scroll-shadow {
  background: var(--van-tabs-divider-nav-background);
}
