:root,
:host {
  --van-field-money-currency-font-size: 16px;
  --van-field-money-currency-font-weight: var(--van-font-bold);
  --van-field-money-input-font-size: 24px;
  --van-field-money-input-height: 24px;
  --van-field-money-input-font-weight: var(--van-font-bold);
  --van-field-money-body-margin-top: 14px;
}

.van-field-money {
  .van-field__body {
    align-items: baseline;
    margin-top: var(--van-field-money-body-margin-top);
  }

  .van-field__control {
    font-size: var(--van-field-money-input-font-size);
    font-weight: var(--van-field-money-input-font-weight);
    height: var(--van-field-money-input-height);
  }

  &__currency {
    font-size: var(--van-field-money-currency-font-size);
    font-weight: var(--van-field-money-currency-font-weight);

    &--filled {
      color: #333333;
    }
  }
}
